html {
    background: var(--bg-primary);
}

h1 {
    color: var(--features);
}


.scanlines {
  position: fixed; /* Stays put even when scrolling */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; /* Sits on top of everything */
  pointer-events: none; /* Crucial: lets you click buttons underneath */
  
  background:
  radial-gradient(
      circle, 
      #00000000 60%, 
      #000000ff 130%
    ), 
  linear-gradient(
    rgba(18, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.15) 50%
  );
  background-size: 100% 4px;

  mix-blend-mode: multiply;

  animation: scanline-flicker 0.2s infinite;
}

@keyframes scanline-flicker {
  0% { opacity: 0.98; }
  50% { opacity: 1; }
  100% { opacity: 0.98; }
}

.scanline {
  position: fixed; /* Stays in place even if you scroll */
  left: 0;
  top: 0;
  width: 100vw; /* Full screen width */
  height: 10px; /* thickness of the beam */
  z-index: 9998;
  
  background: linear-gradient(
    var(--scanbar-bg) 0%,
    var(--scanbar-shadow) 50%,
    var(--scanbar-bg) 100%
  ); /* core */
  box-shadow: 0 0 15px var(--scanbar-shadow), 
              0 0 30px var(--scanbar-shadow-spread); /* Spreading glow */
  
  pointer-events: none; 

  animation: scan 12s linear infinite;
}

@keyframes scan {
  0% { transform: translateY(-20vh); }
  25% { transform: translateY(120vh); }

  /* wait at the bottom for some time */
  25.1% { transform: translateY(120vh); }
  100% { transform: translateY(120vh); }
}