services:
  server:
      build: ./backend/
      container_name: serverContainer
      ports:
        - "${SERVER_PORT}:${SERVER_PORT}"
      env_file:
        - ./backend/.env     # SERVER-specific environment
      volumes:
        - ./backend:/app
        - /app/node_modules
