services:
  server:
      build: ./backend/
      container_name: serverContainer
      ports:
        - "${SERVER_PORT}:${SERVER_PORT}"
      env_file:
        - ./backend/.env     # SERVER-specific environment
      volumes:
        - ./backend:/app
        - /app/node_modules

  react:
      build: ./frontend/
      container_name: frontendContainer
      ports:
        - "${REACT_PORT}:${REACT_PORT}"
      env_file:
        - ./.env     # SERVER-specific environment
      volumes:
        - ./frontend:/app
        - /app/node_modules
      environment:
        - CHOKIDAR_USEPOLLING=true
        - WATCHPACK_POLLING=true
      depends_on:
        - server
