.commonBox {
    margin: 2em;
    border: 2px black solid; 
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.deviceCardfuncOn{
    margin-bottom: 0%;
    border-bottom: 2px gray dashed;
}

.functionlistOn{
    margin-top: 0;
    border-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.functionlistOff{
    margin: 0;
    border: 0;
}

.removeButton {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #b6b5b5;
    line-height: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 5px;
    right: 5px;
}