.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.removeButton {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #5efe6b;
    line-height: 0;

    font-size: large;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: #181a17;
    z-index: 3;
}

.timerButtonsDiv {
    margin: 0 5px 0 5px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerollerDiv {
    display: flex;
    align-items: center;
}
.timerollerDiv span {
    font-size: 2.2rem;
    color: #5efe6b;
    margin: 0 0.2em 0 0.2em;
}

.firstRow {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.firstRow::before {
    content: "";
    flex: 1; /* Takes up equal space as the right side */
}

.firstRow h3 {
    margin: 0;
    flex: 0 0 auto; /* Don't grow, don't shrink */
    text-align: center;
}

.rightSection {
    flex: 1; /* Takes up equal space as the left spacer */
    display: flex;
    justify-content: center; /* Centers the X in the "leftover" space */
}

.active {
  background: #5efe6b;
  color: #181a17;
}