.btonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0em 2em 1em 2em;
}

.btonContainer li {
    color: var(--features);
    list-style: none;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;

    padding: 0 10px 0 10px;
    margin: 0 1em 0 1em;
}
